    <!-- Sidebar -->

        <div class="card user-sidebar mb-4 mb-lg-0 theiaStickySidebar">
            <div class="card-header user-sidebar-header">
                <div class="profile-content rounded-pill">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class=" d-flex align-items-center justify-content-center">
                            <img src="assets/img/users/user-05.jpg" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-1">
                            <div>
                                <h6 class="fs-16">{{user.name}}</h6>
                                <span class="fs-14 text-gray-6">{{globalService.getRole()}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a [href]="routes.profileSettings" class="p-1 rounded-circle btn btn-light d-flex align-items-center justify-content-center"><i class="isax isax-edit-2 fs-14"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body user-sidebar-body">
                <ul>
                    <ng-container *ngFor="let mainTittle of sideBar2; trackBy: trackByFn">
                        <li>
                            <span class="fs-14 text-gray-3 fw-medium mb-2">{{mainTittle.tittle | translate}}</span>
                        </li>
                        <ng-container *ngFor="let menu of mainTittle.menu; trackBy: trackByFn">
                            <li *ngIf="menu.hasSubRoute === false">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a *ngIf="menu.menuValue === 'Logout'; else normalLink"
                                       href="javascript:void(0)"
                                       class="d-flex align-items-center"
                                       [class.active]="page===menu.base || page===menu.base2 || page===menu.base3 || page===menu.base4 || page===menu.base5"
                                       [ngClass]="{ 'subdrop': menu.showSubRoute === false }"
                                       (click)="handleMenuClick(menu, $event)">
                                        <i [class]="menu.icon"></i> {{menu.menuValue | translate}}
                                    </a>
                                    <ng-template #normalLink>
                                        <a [routerLink]="menu.route"
                                           class="d-flex align-items-center"
                                           [class.active]="page===menu.base || page===menu.base2 || page===menu.base3 || page===menu.base4 || page===menu.base5"
                                           [ngClass]="{ 'subdrop': menu.showSubRoute === false }"
                                           (click)="expandSubMenus(menu)">
                                            <i [class]="menu.icon"></i> {{menu.menuValue | translate}}
                                        </a>
                                    </ng-template>
                                    <div class="message-content">
                                        <span *ngIf="menu.count==='1'" class="msg-count rounded-circle">02</span>
                                        <span *ngIf="menu.count==='2'" class="msg-count bg-purple rounded-circle">05</span>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="menu.hasSubRoute === true" class="submenu">
                                <a href="javascript:void(0);"
                                   class="d-block"
                                   [class.active]="page===menu.base || page===menu.base2 || page===menu.base3 || page===menu.base4 || page===menu.base5"
                                   [ngClass]="{ 'subdrop': menu.showSubRoute === true }"
                                   (click)="expandSubMenus(menu)">
                                    <i [class]="menu.icon"></i>
                                    <span>{{menu.menuValue | translate}}</span><span class="menu-arrow"></span>
                                </a>
                                <ul [ngClass]="menu.showSubRoute === true ? 'show-sub-menu' : 'hide-sub-menu'">
                                    <li *ngFor="let subMenus of menu.subMenus; trackBy: trackByFn">
                                        <a [routerLink]="subMenus.route"
                                           class="fs-14 d-inline-flex align-items-center"
                                           [class.active]="page===subMenus.base">{{subMenus.menuValue | translate}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>

    <!-- /Sidebar -->
